In [1]:
import requests
import bs4 as bs

import pandas as pd

In [2]:
# def extract_storyline(url: str):
#     headers = {"User-Agent": "Mozilla/5.0"}
#     response = requests.get(url, headers=headers)
#     page_markups = bs.BeautifulSoup(response.content, "html.parser")
#     storyline_tag = page_markups.find("span", {"class": "sc-e32edc92-2 hREhQQ", "data-testid": "plot-xl"})
#     if storyline_tag is None:
#         return ""
#     return storyline_tag.text.strip()

In [3]:
initial_dataframe = pd.read_csv("db_v4.csv")


storyline_dataframe = initial_dataframe[initial_dataframe["storyline"].notnull()]
no_storyline_dataframe = initial_dataframe[initial_dataframe["storyline"].isnull()]

C:\Users\hojat\AppData\Local\Temp\ipykernel_25748\1337970435.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_dataframe = pd.read_csv("db_v4.csv")

In [4]:
storyline_dataframe.head()

,titleId,storyline
7725,https://www.imdb.com/title/tt10077138/,While the Gadas are spending their Makar Sankr...
7728,https://www.imdb.com/title/tt10077142/,"Marathi Casting Couch. Yes, a undercover web s..."
7752,https://www.imdb.com/title/tt10077182/,"Dennis travels to Pinetop-Lakeside, Arizona fo..."
7754,https://www.imdb.com/title/tt10077186/,"Marathi Casting Couch. Yes, a undercover web s..."
7768,https://www.imdb.com/title/tt10077210/,"Marathi Casting Couch. Yes, a undercover web s..."

In [5]:
no_storyline_dataframe.head()

                                  titleId storyline
0   https://www.imdb.com/title/tt1005892/       NaN
1  https://www.imdb.com/title/tt10058920/       NaN
2  https://www.imdb.com/title/tt10058924/       NaN
3  https://www.imdb.com/title/tt10058926/       NaN
4  https://www.imdb.com/title/tt10058930/       NaN

In [6]:
storyline_dataframe.to_csv("storyline_database.csv", index=False)
no_storyline_dataframe.to_csv("no_storyline_database.csv", index=False)